@impo@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
 html,body {
	position: relative;
	width: 1350px;
	height: 1094px;
	left: 0px;
	top: 0px;
	background: #06394e;
}
#header {
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .nav-bar .back{
	position: absolute;
	width: 123.41px;
	height: 56.9px;
	left: 55px;
	top: 31px;
}
#header .nav-bar .title{
	position: absolute;
	width: 221px;
	height: 42px;
	left: 320px;
	top: 43px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 42px;
	color: #f79a5a;
}
#header .nav-list .bar {
	text-decoration: none;
}
.head-logo{
  position: absolute;
  width: 86px;
  height: 60px;
  left: -106px;
  top: -10px;
}
.head-logo{
  outline: none;
  border: none;
}
.back-button{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 20px;
	top: 30px
}
/*.back{
	
	left: 65px;
	top: 60px;
	text-align: center;
	color: black;
	background-color:#f79a5a; 
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 42px;
}*/
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover{
	color: orange; 
}


ul li.games{
	position: absolute;
	width: 81px;
	height: 28px;
	left: 877px;
	top: 37px;
	color: white;
	font-size: 25px;
	list-style-type: none;
	text-decoration: none;
}
ul p.horizontal{
	position: absolute;
	width: 0.3px;
	height: 36.67px;
	left: 993px;
	top: 54px;
	color: white;
	
}
ul li.about{
	position: absolute;
	width: 77px;
	height: 28px;
	left: 992px;
	top: 37px;
	list-style-type: none;
	color: #f79a5a;
	font-size: 25px;
	text-decoration: underline;
}
ul p.horizonta{
	position: absolute;
	width: 0.3px;
	height: 36.67px;
	left: 1104px;
	top: 54px;
	color: white;
	list-style-type: none;
}
ul li.contact{
	position: absolute;
	width: 108px;
	height: 28px;
	left: 1101px;
	top: 37px;
	color: white;
	font-size: 25px;
	list-style-type: none;
}
/*hr line at below the main heading*/
/*hr{
	position: absolute;
	width: 1350px;
	height: 0px;
	left: 0px;
	top: 116px;

	border: 1px solid white;
	box-shadow: 2px 2px;
	transform: rotate(0.01deg);
}*/

/*main content*/
#main .main-container{
	position: absolute;
	width: 1380px;
	height: 800px;
	left: 0px;
	top: 203px;

	background:  #084165;
}
.about-title{
	position: absolute;
	width: 120px;
	height: 100px;
	left: 510px;
	top: 11px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	

	color: #FFF7F7;

}
.main-content h1{
	position: absolute;
	width: 554px;
	height: 28px;
	left: 386px;
	top: 118px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;

	color: #FFFBFB;

}
.main-content p{
	position: absolute;
	width: 429px;
	height: 572px;
	left: 429px;
	top: 204px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	

	color: #FFFCFC;
}
.main-content span{
	color:#f79a5a; 
}
.video{
	position: absolute;
	width: 359px;
	height: 209px;
	left: 468px;
	top: 570px;

	background: #C4C4C4;
}
.video:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/*follow us section*/
/*.heading {
  position: absolute;
  width: 174px;
  height: 32px;
  left: 540px;
  top: 14px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;

  color: #fcfcfc;
}*/
i {
  color: white;
}
i:hover {
  color: orange;
}
.social-1 {
  position: absolute;
  width: 91px;
  height: 84px;
  left: 861px;
  top: 8px;
  color: #fcfcfc;
}
.social-container {
  position: absolute;
  width: 1380px;
  height: 70px;
  left: 0px;
  top: 132px;

  background: #3d5b6f;
}
.social-2 {
  position: absolute;
  width: 91px;
  height: 84px;
  left: 959px;
  top: 8px;
  color: #fcfcfc;
}
/*.social-3 {
  position: absolute;
  width: 91px;
  height: 84px;
  left: 740px;
  top: 8px;
  color: #fcfcfc;
}*/
.social-4 {
  position: absolute;
  width: 91px;
  height: 84px;
  left: 771px;
  top: 8px;
  color: #fcfcfc;
}
.social-5 {
  position: absolute;
  width: 91px;
  height: 84px;
  left: 1061px;
  top: 8px;
  color: #fcfcfc;
}
.social-6 {
  position: absolute;
  width: 91px;
  height: 84px;
  left: 1161px;
  top: 8px;
  color: #fcfcfc;
}
/*image*/
.bg-image{
	position: absolute;
	width: 436px;
	height: 800px;
	
	right: 1px;
	top: 0px;

	background: url(about_roulette_image.png);
	
}
.bg-left-image{
	position: absolute;
	width: 256px;
	height: 800px;
	left: 2px;
	top: 1px;

	background: url(about_diamond_design.png);
}
/*footer*/
.footer-title {
  position: absolute;
  width: 221px;
  height: 42px;
  left: 215px;
  top: 1212px;
  color: white;
  font-size: 28px;
}
.footer-logo{
  position: absolute;
  width: 86px;
  height: 60px;
  left: 60px;
  top: -65px;
}
.footer-logo{
  outline: none;
  border: none; 
}
.staright {
  position: absolute;
  width: 145px;
  height: 0px;
  left: 410px;
  top: 1204px;

  border: 1px solid #fdf5f5;
  transform: rotate(90deg);
}
.home {
  position: absolute;
  width: 69px;
  height: 28px;
  left: 533px;
  top: 1192px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  list-style-type: none;
  color: #fff7f7;
}
.horizontal0 {
  position: absolute;
  width: 0.3px;
  height: 36.67px;
  left: 620px;
  top: 1205px;
  color: white;
}
.games1 {
  position: absolute;
  width: 81px;
  height: 28px;
  left: 625px;
  top: 1192px;
  list-style-type: none;
  color: #fff7f7;
}
.horizontal1 {
  position: absolute;
  width: 0.3px;
  height: 36.67px;
  left: 719px;
  top: 1205px;
  color: white;
}
.about1 {
  position: absolute;
  width: 77px;
  height: 28px;
  left: 728px;
  top: 1192px;
  list-style-type: none;
  color: #fff7f7;
}
.horizontal2 {
  position: absolute;
  width: 0.3px;
  height: 36.67px;
  left: 824px;
  top: 1205px;
  color: white;
}
.contact1 {
  position: absolute;
  width: 108px;
  height: 28px;
  left: 835px;
  top: 1192px;
  list-style-type: none;
  color: #fff7f7;
}
.horizontal3 {
  position: absolute;
  width: 0.3px;
  height: 36.67px;
  left: 954px;
  top: 1205px;
  color: white;
}
.pp {
  position: absolute;
  width: 184px;
  height: 28px;
  left: 963px;
  top: 1192px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  list-style-type: none;
  color: #fff7f7;
}
.copyright{
	position: absolute;
	width: 184px;
	height: 24px;
	left: 570px;
	top: 1300px;
	font-size: 14px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	color: #F7F7F7;
}
/*end of footer*/