@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  position: absolute;
  width: auto;
  height: 1124px;
  left: 0px;
  top: 0px;
  background: #06394e;
}
#header {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
}
#header .nav-bar .back {
  position: absolute;
  width: 123.41px;
  height: 56.9px;
  left: 55px;
  top: 31px;
}
#header .nav-bar .title {
  position: absolute;
  width: 221px;
  height: 42px;
  left: 320px;
  top: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 42px;
  color: #f79a5a;
}
#header .nav-list .bar {
  text-decoration: none;
}
.head-logo{
  position: absolute;
  width: 86px;
  height: 60px;
  left: -106px;
  top: -10px;
}
.head-logo{
  outline: none;
  border: none;
}
/*.back-button{
	position: absolute;
	width: 20px;
	height: 20px;
}
.back{
	
	left: 65px;
	top: 60px;
	text-align: center;
	color: black;
	background-color:#E64310; 
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 42px;
}*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  color: orange;
}
li.active3{
  color: orange;
  text-decoration: underline;
}
ul li.games {
  position: absolute;
  width: 81px;
  height: 28px;
  left: 877px;
  top: 37px;
  color: #f79a5a;
  font-size: 25px;
  list-style-type: none;
  text-decoration: underline;
}
ul p.horizontal {
  position: absolute;
  width: 0.3px;
  height: 36.67px;
  left: 993px;
  top: 54px;
  color: white;
}
ul li.about {
  position: absolute;
  width: 77px;
  height: 28px;
  left: 992px;
  top: 37px;
  list-style-type: none;
  color: white;
  font-size: 25px;
  text-decoration: none;
}
ul p.horizonta {
  position: absolute;
  width: 0.3px;
  height: 36.67px;
  left: 1104px;
  top: 54px;
  color: white;
  list-style-type: none;
}
ul li.contact {
  position: absolute;
  width: 108px;
  height: 28px;
  left: 1101px;
  top: 37px;
  color: white;
  font-size: 25px;
  list-style-type: none;
}
/*hr line below the main bar*/
/*hr{
	position: absolute;
	width: 1350px;
	height: 0px;
	left: 0px;
	top: 116px;

	border: 1px solid white;
	box-shadow: 2px 2px;
	transform: rotate(0.01deg);
}*/

/*follow us section*/
/*.heading {
  position: absolute;
  width: 174px;
  height: 32px;
  left: 540px;
  top: 14px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;

  color: #fcfcfc;
}*/
i {
  color: white;
}
i:hover {
  color: orange;
}
.social-1  {
  position: absolute;
   
  left:  861px;
  top: 2px;
  color: #fcfcfc;
  
}
.social-1 img{
  width: 67px; 
  height: 67px;
  border:none;
  outline: none;
}
.social-container {
  position: absolute;
  width: 1380px; 
  height: 70px;
  left: 0px;
  top: 136px;

  background: #3d5b6f;
}
.social-2 {
  position: absolute;
  
  left: 959px;
  top: 2px;
  color: #fcfcfc;
  
}
.social-2 img{
  width: 67px;
  height: 67px;
  border:none;
  outline: none;
}
/*.social-3 {
  position: absolute;
  
  left: 740px;
  top: 2px;
  color: #fcfcfc;
  
}
.social-3 img{
  width: 67px;
  height: 67px;
  border:none;
  outline: none;
}*/
.social-4 {
  position: absolute;
  
  left:  771px;
  top: 2px;
  color: #fcfcfc;
  
}
.social-4 img{
  width: 67px;
  height: 67px;
  border:none;
  outline: none;
}
.social-5 {
  position: absolute;
  
  left: 1061px;
  top: 2px;
  color: #fcfcfc;
  
}
.social-5 img{
  width: 67px;
  height: 67px;
  border:none;
  outline: none;
}
.social-6 {
  position: absolute;
  
  left:1161px;
  top: 2px;
  color: #fcfcfc;
  
}
.social-6 img{
  width: 67px;
  height: 67px;
  border:none;
  outline: none;
}
/*main section of games*/
#home {
  position: absolute;
  width: 1370px;
  height: 720px;
  left: 1px;
  top: 206px;

  background: #f4f4f4;
}
.bg-img{
  position: relative;
  width: 400px;
  height: 400px;
  top: -90px;
  left: 20px;
  background: url(./game_images/sprites/bg_sticker.png);

}
.bg-img2{
  position: relative;
  width: 400px;
  height: 400px;
  top: -100px;
  left: 20px;
  background: url(./game_images/sprites/bg_sticker.png);
}
.bg-img3{
  position: relative;
  width: 400px;
  height: 400px;
  top: -900px;
  left: 900px;
  background: url(./game_images/sprites/bg_sticker.png);
}
.bg-img4{
  position: relative;
  width: 400px;
  height: 400px;
  top: -900px;
  left: 900px;
  background: url(./game_images/sprites/bg_sticker.png);
}
.main-heading {
  position: absolute;
  width: 100px;
  height: 25px;
  left: 540px;
  top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  /* identical to box height */

  color: #000000;
}
.word {
  position: absolute;
  width: 188px;
  height: 196px;
  left: 216px;
  top: 103px;
}
.word:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*.word-content{
	position: relative;
	padding-left: 42px 32px;
	clip-path: circle(5% at 95% 11%);
	transition: all ease-in-out .3s;
	background-color: #ffffff;

	&__info{
		transition: ease-out .3s;
	}
	&__title{
		margin: 0;
		font-size: 2em;
		line-height: 1.1;
	}
	&:hover, &:focus{
		clip-path: circle(75%);
		border-radius: 20px;
		box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
		            0px 3px 18px rgba(0,0,0,0.08);
		background: #ffffff;
		outline: none;
	}
	&:focus{
		box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
		            0px 3px 18px rgba(0,0,0,0.08),
		            0px 0px 0px 4px rgba(0,0,0,0.2);
	}
}*/
.carribean {
  position: absolute;
  width: 188px;
  height: 296px;
  left: 416px;
  top: 103px;
}
.carribean:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.craps {
  position: absolute;
  width: 188px;
  height: 196px;
  left: 606px;
  top: 103px;
}
.craps:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.let {
  position: absolute;
  width: 188px;
  height: 196px;
  left: 796px;
  top: 103px;
}
.let:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.messesippi {
  position: absolute;
  width: 188px;
  height: 196px;
  left: 986px;
  top: 103px;
}
.messesippi:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.paigow {
  position: absolute;
  width: 188px;
  height: 196px;
  left: 316px;
  top: 296px;
}
.paigow:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.roulette {
  position: absolute;
  width: 188px;
  height: 196px;
  left: 516px;
  top: 296px;
}
.roulette:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.scibo {
  position: absolute;
  width: 188px;
  height: 196px;
  left: 716px;
  top: 296px;
}
.scibo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.three {
  position: absolute;
  width: 188px;
  height: 196px;
  left: 916px;
  top: 296px;
}
.three:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.baccarat {
  position: absolute;
  width: 188px;
  height: 130px;
  left: 716px;
  top: 486px;
}
.baccarat:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.crazy {
  position: absolute;
  width: 188px;
  height: 130px;
  left: 516px;
  top: 486px;
}
.crazy:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/*Changes*/
.footer-title {
  position: absolute;
  width: 221px;
  height: 42px;
  left: 215px;
  top: 1012px;
  color: white;
  font-size: 30px;
  font-family: Roboto;
}
.footer-logo{
  position: absolute;
  width: 86px;
  height: 60px;
  left: 60px;
  top: -65px;
}
.footer-logo{
  outline: none;
  border: none; 
}
.staright {
  position: absolute;
  width: 145px;
  height: 0px;
  left: 410px;
  top: 1004px;

  border: 1px solid #fdf5f5;
  transform: rotate(90deg);
}
.home {
  position: absolute;
  width: 69px;
  height: 28px;
  left: 533px;
  top: 1012px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  list-style-type: none;
  color: #fff7f7;
}
.horizontal0 {
  position: absolute;
  width: 0.3px;
  height: 36.67px;
  left: 620px;
  top: 1024px;
  color: white;
}
.games1 {
  position: absolute;
  width: 81px;
  height: 28px;
  left: 625px;
  top: 1012px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  list-style-type: none;
  color: #fff7f7;
}
.horizontal1 {
  position: absolute;
  width: 0.3px;
  height: 36.67px;
  left: 719px;
  top: 1024px;
  color: white;
}
.about1 {
  position: absolute;
  width: 77px;
  height: 28px;
  left: 728px;
  top: 1012px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  list-style-type: none;
  color: #fff7f7;
}
.horizontal2 {
  position: absolute;
  width: 0.3px;
  height: 36.67px;
  left: 824px;
  top: 1024px;
  color: white;
}
.contact1 {
  position: absolute;
  width: 108px;
  height: 28px;
  left: 835px;
  top: 1012px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  list-style-type: none;
  color: #fff7f7;
}
.horizontal3 {
  position: absolute;
  width: 0.3px;
  height: 36.67px;
  left: 954px;
  top: 1024px;
  color: white;
}
.pp {
  position: absolute;
  width: 184px;
  height: 28px;
  left: 963px;
  top: 1012px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  list-style-type: none;
  color: #fff7f7;
}
.copyright {
  position: absolute;
  width: 184px;
  height: 24px;
  left: 570px;
  top: 1120px;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #f7f7f7;
}
